CONSUMER_KEY=
CONSUMER_SECRET=
PASS_KEY=

STKPUSH_BUSINESS_SHORT_CODE=174379
STKPUSH_PHONE_NUMBER=
STKPUSH_CALLBACK_URL=https://mydomain.com/path
STKPUSHQUERY_CHECKOUT_REQUEST_ID=

C2B_SHORT_CODE=600981
C2B_PHONE_NUMBER=
C2B_VALIDATION_URL=https://mydomain.com/validate
C2B_CONFIRMATION_URL=https://mydomain.com/confirm

B2C_INITIATOR_NAME=testapi
B2C_SECURITY_CREDENTIAL=keOBG5GeP29HeXXwxEBoZICbqkozc4SSmV3n7
B2C_PARTY_A=600979
B2C_PARTY_B=254708374149
B2C_QUEUE_TIMEOUT_URL=https://mydomain.com/b2c/queue
B2C_RESULT_URL=https://mydomain.com/b2c/result

ACCOUNT_BALANCE_INITIATOR=testapi
ACCOUNT_BALANCE_SECURITY_CREDENTIAL=oYbZzp0bHcQEXetmNI7NLCFRFLVQGt7YY8KCAjMgtT7neLD6RzRMFrq1ElFu
ACCOUNT_BALANCE_PARTY_A=600999
ACCOUNT_BALANCE_QUEUE_TIMEOUT_URL=https://mydomain.com/AccountBalance/queue
ACCOUNT_BALANCE_RESULT_URL=https://mydomain.com/AccountBalance/result

TRANSACTION_STATUS_INITIATOR=testapi
TRANSACTION_STATUS_SECURITY_CREDENTIAL=F2RQGaySiwxeHHI0UKh6qd3c5daGkUGg68u
TRANSACTION_STATUS_TRANSACTION_ID=OEI2AK4Q16
TRANSACTION_STATUS_PARTY_A=600997
TRANSACTION_STATUS_QUEUE_TIMEOUT_URL=https://mydomain.com/TransactionStatus/queue
TRANSACTION_STATUS_RESULT_URL=https://mydomain.com/TransactionStatus/result
